footer.footer.top-space
  div.footer1
    div.container
      div.row
        div.col-md-3.widget
          h3.widget-title Support
          div.widget-body
            p (+57) 3108187426
            br
            a(href="mailto:#") ftrianakast@gmail.com
            br
            | Calle 6B No 9-26, Madrid Cundinamarca, Colombia

        div.col-md-3.widget
          h3.widget-title Contact me
          div.widget-body
            p.follow-me-icons
              a(href="https://twitter.com/ftrianakast")
                i.fa.fa-twitter.fa-2
              a(href="https://github.com/ftrianakast")
                i.fa.fa-github.fa-2

        div.col-md-6.widget
          h3.widget-title LiveVox Info
          div.widget-body
            p LiveVox is the leading provider of cloud contact center solutions.
              | LiveVox offers an integrated hosted predictive dialer, ACD, IVR, call recording and business analytics suite.
              | The patented, fully burstable LiveVox platform utilizes carrier IP/MPLS networks and delivers
              | multi-site deployment, routing and controls. LiveVox is headquartered in San Francisco.
