
html(lang="en", ng-app="livevox")
    head
        title Ejercicio LiveVox
        link(rel="stylesheet", href="./../../bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./../styles/style.css")
        link(rel="stylesheet", href="./../styles/theme.css")
        link(rel="stylesheet", href="./../styles/main.css")
        link(rel="stylesheet", href="./../../bower_components/font-awesome/css/font-awesome.min.css")

    body
        .ng-view
        script(type="text/javascript", src="./../../bower_components/moment/moment.js")
        script(type="text/javascript", src="./../../bower_components/angular/angular.min.js")
        script(type="text/javascript", src="./../../bower_components/angular-route/angular-route.min.js")
        script(type="text/javascript", src="./../../bower_components/ngFx/dist/ngFx.min.js")
        script(type="text/javascript", src="./../scripts/app.js")
